.static-cards {
	height: 20vh;
	background-image: url('../../assets/cards.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: all .3s ease;
}

.lng-creatingBtn {
	background-color: var(--anchor-color);
}

button[type=submit]:hover {
	filter: invert(1);
	transition: filter .3s ease-in-out;
}

input:user-invalid {
	border-color: rgb(141, 28, 28);
}