.static-cards {
	height: 20vh;
	background-image: url('../../assets/cards.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: all .3s ease;
}

.lng-creatingBtn {
	background-color: var(--anchor-color);
}