.photo-card {
  display: flex;
  justify-content: center;
  width: calc(375px * 0.9 * 0.9);
  // height            : calc(456px*0.9*0.9);
  height: calc(475px * 0.9 * 0.9);
  border-radius: 16px;
  background-color: var(--bg-card-color);
  color: var(--text-color);

  // border: 1px solid #d0d3d8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(24px * 0.9 * 0.9);
  will-change: transform;
  padding-left: 33.75px * 0.9 * 0.9;
  padding-top: 24px;
  padding-right: 33.75px * 0.9 * 0.9;

  -webkit-transition: transform 0.2s linear, box-shadow 0.25s linear;
  -moz-transition: transform 0.2s linear, box-shadow 0.25s linear;
  -o-transition: transform 0.2s linear, box-shadow 0.25s linear;
  transition: transform 0.2s linear, box-shadow 0.25s linear;
  /* , background-color 0.55s ease */
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  cursor: default;

  &:hover {
    box-shadow: 0px 0px 12px -4px var(--anchor-color);
    transition: box-shadow 0.25s linear;
  }

  .layout.dark &:hover {
    box-shadow: 0px 0px 4px 0px var(--anchor-color);
  }

  &:active {
    cursor: grabbing;
  }

  .photo-card-content {
    position: relative;
    display: block;

    overflow: hidden;

    //  transform: translate(0);

    .card-img-container {
      height: 270px * 0.9;
      border-radius: 8px;

      will-change: transform;
      cursor: pointer;
      overflow: hidden;
      /* transform: translate(0); */

      .card-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-color: rgb(179, 178, 178);
        user-select: none;
        pointer-events: none;
        -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
        backface-visibility: hidden;
        will-change: transform;
        /* transform: translate(0); */
        transition: transform 0.15s linear;
      }

      #card-img {
        cursor: pointer;
      }

      &:hover .card-image {
        transform: scale(1.05);
        transition: transform 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
        will-change: transform;
      }
    }

    .image-caption {
      margin-top: calc(12px * 0.9);
      overflow: hidden;
      min-height: 1.86em;
      text-overflow: ellipsis;
      font-weight: 600;
      line-height: 1.25em;
      will-change: transform;
      /* transition: color .5s ease; */
    }

    .addition {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      text-align: right;
      bottom: 16px;
      right: 0px;
      font-weight: bold;

      .addition-wrapper {
        position: relative;
        font-weight: normal;
        max-width: 100%;
        will-change: unset !important;
        transition: width 0.3s;

        /* , color .5s ease */
      }

      .addition-wrapper::before {
        content: "";
        display: block;
        background-color: var(--text-color);
        height: 1px;
        border-radius: 8px;
        width: 0%;
        left: 50%;
        bottom: 0;
        position: absolute;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: width 0.5s ease;
        -moz--transition: width 0.5s ease;
        transition: width 0.5s ease;
      }
    }
  }

  &:hover .photo-card-content .addition-wrapper::before {
    width: 100%;
  }
}

/* UPD:  ЧТОБЫ УБРАТЬ ТРЯСКУ ФОТО В КОНТЕЙНЕРЕ НУЖНО ОБНУЛИТЬ 
            translate3d(0, 0, 0) у контейнера
  */
