@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // min-height: 100vh !important;

  --bg-color: #edeef0;
  --header-bg-color: #fff;
  --nav-input-color: #dde1e6;
  --bg-card-color: #fff;
  --card-border-color: #d0d3d8;
  --text-color: #000;
  --anchor-color: #404040;
  --lang-color: #dadada;
  --inverting-icon-color: invert(0);
  --header-shadow: rgba(34, 60, 80, 0.15);
  //  background-color: var(--bg-color);
}

[data-theme="dark"] {
  --bg-color: #121212; /* Фон страницы (черный/серый оттенок) */
  --header-bg-color: #181818; /* Фон для шапки (чуть светлее) */
  --nav-input-color: #282828; /* Фон для элементов навигации (тёмно-серый) */
  --bg-card-color: #1c1c1c; /* Фон для карточек (очень тёмный оттенок) */
  --card-border-color: #535353; /* Цвет границы для карточек (средний серый) */
  --text-color: #ffffff; /* Белый цвет текста */
  --anchor-color: #686868;
  --lang-color: #404040; /* Цвет для языка (нейтральный серый) */
  --inverting-icon-color: invert(1); /* Цвет инвертированных иконок */
  --header-shadow: rgba(34, 60, 80, 0.15);
  /* Полоса прокрутки в целом */
  scrollbar-color: #686868 #424242;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  // background-color: rgb(23 23 23);

  overflow-x: hidden;
  overflow-y: auto;

  // background-color: var(--bg-color);
}

body {
  color: var(--text-color);
  min-height: 100vh !important;
  font-family: Helvetica, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  // scrollbar-gutter: stable;
  background-color: var(--bg-color);
  
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

.shortgray {
  color: var(--anchor-color);
  /* transition: color .5s ease; */
}

.container {
  padding-left: 8px;
  padding-right: 8px;
}


.skeleton {
  background-color: #e2e8f0; /* Серый цвет скелетного элемента */
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.250), transparent);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
[data-theme="dark"] .skeleton {
  background-color: var(--nav-input-color); /* Используем темно-серый цвет из вашей палитры */
}


/* Опционально: Изменение анимации для более плавного эффекта */
[data-theme="dark"] .skeleton::after {
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.01), transparent);
  animation: pulse-dark 1.5s infinite;
}

@keyframes pulse-dark {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
