@media screen and (max-width: calc(1640px*0.9*0.9)) {
  .workspace {
    max-width      : calc(1230px*0.9*0.9) !important;
    justify-content: center;
  }

  .profile {
    max-width      : calc(1230px*0.9*0.9) !important;
  }

  .header-container {
    width   : calc(1230px*0.9) !important;
  }

  .background__container {
    min-height: 205px*0.9;
  }

  /* .workspace .photo-card:nth-of-type(4n) {
    margin-right: calc(40px*0.9) !important;
  } */

  .workspace .photo-card:nth-of-type(2n) {
    margin-right: calc(40px*0.9*0.9) !important;
  }

  .workspace .photo-card:nth-of-type(3n) {
    margin-right: 0px !important;
  }

  .workspace .photo-card:last-of-type {
    margin-right: 0px !important;
  }

  .profile  .profile__about {
    width: 400px*0.9;
  }

  .profile__main {
    left: 12% !important;
  }
  .image-title {
    margin-bottom: 8px !important;
  }

  .modalImage-caption {
    margin-top: 8px !important;
  }

}

@media screen and (max-width:calc(1230px*0.9*0.9)) {
  .workspace {
    max-width      : calc(812px*0.9*0.9) !important;
    
  } 
 
  
  
  .profile__main{
    left: 8px !important;
  }

  .profile {
    max-width      : calc(812px*0.9*0.9) !important;
    padding: 0 8px;
  }

  .header-container {
    width   : calc(812px*0.9) !important;
  }

  .header-search {
    width: 185px !important;
  }

  .form-search-container {
    width: 220px !important;
  }

  .profile__avatar {
    width: 180px !important;
    height: 180px !important;
    margin-right: 18px !important;
  }

  .whiteboard-container {
    flex-direction: column !important;
  }

  .modal-left-side {
    width: 100.11% !important;
    height: 109.1vh !important;
    overflow: hidden !important;
   position: relative !important;
   background-size: 150% !important;
   border-radius: 16px 16px 0px 0px !important;
    padding: 0 !important;
    will-change: transform !important;
				-webkit-backface-visibility: hidden !important;
				backface-visibility: hidden !important;
  }

  .modalImage-container {
    overflow: hidden !important;
    position: relative !important;
    height: 106.9% !important;
   width: 100% !important;
   margin: 0 !important;
    padding: 0 !important;
    backdrop-filter: blur(16px) !important;
  }

  .modal-content-image {
    height: 94% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .image-title {
    font-size: 40px !important;
    margin-bottom: 0px !important;
  }

  .modal-right-side {
    padding: 16px !important;
    float: none !important;
    position: relative !important;
    width: 100% !important;
    
  }
  
  .modalImage-caption {
    margin-top: 1rem !important;
  }

   .sides {
     width: 100% !important;
    flex-direction: column !important;
    justify-content: center !important;
  } 

  .mdl-title {
    width: 100% !important;
    margin-right: 0 !important;
  }

  .form {
    width: 75% !important;
  }

  .static-cards {
    display: none !important;
  }

  .modalImage-caption {
    font-size: 20px !important;
  }

  .close {
    right: -48px !important;
    font-size: 40px !important;
  }

  .background__container {
    min-height: 160px;
  }

  .background__image {
    background-attachment: scroll !important;
  }
  
  .workspace .photo-card:nth-of-type(3n) {
    margin-right: calc(40px*0.9) !important;
  }
  .workspace .photo-card:nth-of-type(2n) {
    margin-right: 0 !important;
  }
 .workspace .photo-card:nth-of-type(5n) {
    margin-right: calc(40px*0.9) !important;
  }
  .workspace .photo-card:last-of-type {
    margin-right: 0 !important;
  }


  .profile  .profile__about {
    width: 260px;
  }

  .counters {
    padding-left: 0;
  }

  .counters__group-items {
    width: 300px !important; 
    padding-left: 16px !important;
      padding-right: 16px !important;
  }

  .line {
    width: 300px !important;
  }

.creating-title {
  font-size: 1.75rem !important;
}

  .modalImage-caption {
    margin-top: 8px !important;
  }

}

@media screen and (max-width:calc(812px*0.9*0.9)) {
  .workspace {
    max-width          : calc(380px*0.9*0.9) !important;
    flex-direction : column !important;
    justify-content: center !important;
  }

  .background__container {
    min-height: 120px !important;
  }

  .image-title {
    margin-bottom: 0px !important;
    font-size: 32px !important;
  }

  .workspace .photo-card {
    margin-right: 0 !important;
  }

  .workspace .photo-card:nth-of-type(3n) {
    margin-right: 0 !important;
  }

  .workspace .photo-card:nth-of-type(2n) {
    margin-right: 0px !important;
  }

  .workspace .photo-card:nth-of-type(5n) {
    margin-right: 0 !important;
  }

  .modalImage-caption {
    margin-top: 4px !important;
  }

  .header-container {
    margin: 0 !important;
    padding: 0 8px !important;
  }

  .header-righside {
    justify-content: flex-start !important;
  }

  .profile {
    display: flex !important;
    max-width          : calc(375px*0.9*0.9) !important;
    height:auto;
    top: 60px;
    margin-bottom: 64px !important;
    flex-direction : column !important;
    justify-content: start !important;
    align-items: center !important;  
    position: relative;
  }

  

  .header-logo span {
    display: none;
  }

  .nickname-mini {
    display: none !important;
  }

  // .avatar-mini {
  //   margin-right: 16px !important;
  // } 
 
  .photo-card {
    margin-bottom: 16px !important;
  }

  .form-search-container {
    width: 200px !important;
    margin-right: 12px !important;
  }

  .header-info__mini {
    padding: 0 0px 0 8px !important;
  }

  .avatar-mini {
    margin-right: 0 !important;
  }

  .search {
    justify-content: flex-end !important;
  }

  .header-search {
    margin-right: 8px !important;
  }

  .profile__avatar {
    width: 120px !important;
    height: 120px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  .profile__main-full {
    position: relative !important;
    height: auto !important;
    display: flex !important;
    margin-top: 16px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .profile__main {
    height: auto !important;
    margin-left: 0 !important;
  }

  .names__group {
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .profile__status{
    width: 32px !important;
    height: 32px !important;
  }
  

  .profile__status span {
    padding-left: 2%;
    font-size: 20px;
  }

  .profile__about{
   width: 100% !important;
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0;
    position: relative !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .profile__about h3 {
    position: relative !important;
    margin-bottom: 16px !important;
    margin-right: 0 !important;
    margin-left: 0px !important;
  }

  // .arrow {
  //   position: absolute;
  //   width: 8px;
  //   height: 8px;
  //   right: -16px;
  //   bottom: 0;
  //   border: solid var(--anchor-color);
  //   border-width: 0 2px 2px 0;
  //   display: inline-block;
  //   padding: 3px;
  //   transform: rotate(-135deg);
  // -webkit-transform: rotate(-135deg);
  // }

  // .arrow.downing {
  //   transform: rotate(45deg);
  //   -webkit-transform: rotate(45deg);
  // }

  .about__list.hidden {
    display: none;
  }

  .profile__main {
    width: 100% !important;
    display: flex !important;
    position: relative !important;
    left: 0 !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    
  }

  .workspace .photo-card {
    align-self  : center !important;
    justify-self: center !important;
    margin-right: 0px !important;
    margin-left : 0px !important;
  }

  .workspace .photo-card:nth-of-type(3n) {
    margin-right: 0px !important;
  }

  .workspace .photo-card:nth-of-type(13n) {
    margin-right: 0px !important;
  }

  .profile__about {
    margin-top: -110px !important;
    display: flex;
    position: relative;
  }

  .background__container {
    background-attachment: scroll !important;
  }

  .counters {
    width: 100% !important;
    display: flex;
    justify-content: center;
    height: 50px !important;
    top: -40px;
    margin: 0 !important;
    padding: 0 !important;
    
    // margin-top: 32px;
    // margin-bottom: 40px;
  }

  .header-search {
    width: 165px !important;
    font-size: 14px !important;
  }

  .form-search-container {
    
  }

  .counters__group-items {
    width: 300px !important;
    padding-left: 0px !important;
      padding-right: 0px !important;
  }

  .counter-box {
    width: 70px;
  }

  .about__list {
    margin-bottom: 16px;
  }
  
  .counter-box:first-of-type {
    display: none !important;
  }

  .counters__group {
    height: 50px !important;
  }

  .line {
    width: 300px !important;
    margin: 0 !important;
    padding: 0 !important;
    display: none;
  }

  header {
    top: -0.5px;
  }

  .names__group h3 {
    margin-top: 8px !important;
  }

  .add-Btn {
      right: 12px !important;
      bottom: 12px !important;
  }

  .workspace {
    margin-top: 0 !important;
  }

  .profile__about summary {
  margin-left: 110px !important;
    justify-content: center;
  }
}

// на последнем разрешении криво работает профиль + подправить хэдер